.authPage_container{
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 1.2rem;
    border-bottom: 2px #333 solid;
}

.authPage-logo{
    height: 100px;
    /* width: auto; */
    /* margin-top: 0.6rem; */
    /* margin-left: 1.2rem; */
    display: flex;
    align-items: center;
    /* margin-bottom: auto; */
}

.authPage-logo img{
    height: 75%;
    width: auto;
    cursor: pointer;
}

.authPage-btn{
    /* cursor: pointer; */
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 2rem;
}

.authPage-btn button:hover{
    background: var(--color-btn-hover);
}