/* .editHabit-modal{} */

/* .editHabit-content{} */

/* .editHabit-content input{} */

.editHabit-btn{
    margin-right: 1rem;
}

/* .habit-container {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.habit-container .crossed {
    text-decoration: line-through;
    color: #333;
} */