.home{
    font-family: var(--font-base);
}

.home-add{
    display: flex;
    gap: 2rem;
    margin: 1.5rem;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    height: auto;
    padding-bottom: 1rem;
}

.home-add .add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px #333 solid;
    width: 3rem;
    height: 3rem;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
}

.home-add .add:hover{
    background: #333;
    color: #fff;
}

.modal-container{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    margin-bottom: 10rem;
    /* justify-content: space-between; */
    /* padding: 1rem; */
}

.habits-list{
    padding-top: 0.5rem;
    border-top: 1px solid #ccc;
}

.habits-list h2{
    margin: 1.5rem;
}

.habits-list ul{
    margin: 1.5rem;
    list-style-type: none;
    padding: 0;
}

.habits-list li{
    margin-bottom: 0.5rem;
}

.manage{
    display: inline-flex;
    margin-top: 1rem;
    margin-left: 2rem;
}